div.info-project{
	padding:0 20px 20px 20px !important;
}
div.img-project{
	text-align:center;
	max-height: 100%;
	min-height: 100%;
	height: 100%;
	max-width: 100%;
	border-right: 1px solid #DDD !important;
	padding:0;
	background-color:#000;
}
img.border{
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
}
div.img-project img{
	max-height: 100%;
	max-width: 100%;
}
div.project-description{
	margin: 30px auto auto auto;
}
div.project-technologies{
	margin: 40px auto auto auto;
}
div.project-technologies div.tagcloud{
	padding-top: 10px;
	font-weight:bold;
}
div.project-technologies div.tagcloud a:hover{
	text-decoration: none;
}
.debian, .debian:hover{
	color:#DF0451;
} 
.nginx, .nginx:hover{
	color: #35974F;
}
.mysql, .mysql:hover{
	color: #00618A;
}
.wordpress, .wordpress:hover{
	color: #464442;
}
.css3, .css3:hover{
	color: #369CD6;
}
.html5, .html5:hover{
	color: #F1662A;
}
.javascript, .javascript:hover{
	color: #D6BA32;
}
.php, .php:hover{
	color: #7678B0;
}
div.project-description p{
	font-size:16px;
}
.tagcloud { margin-bottom: -2px; }
.tagcloud a {
	display: block;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 3px 6px;
	border: 1px solid #E5E5E5;
	font-size: 13px !important;
	color: #666;
	border-radius: 2px;
}

body:not(.device-touch) .tagcloud a {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tagcloud a:hover {
	border-color: #1ABC9C !important;
	color: #1ABC9C !important;
}
.text-center{
	text-align:center;
}
div.img-project table{
	height:100%;
}
div.img-project table td{
	vertical-align:middle;
}
div.img-project table td img{
	width: 100%;
}
